REGION_CODE="KR"
VPC_NO="12345678"
SUBNET_NO="23456789"
ACG_NO="67890123"
SERVER_IMAGE_PRODUCT_CODE="SW.VSVR.OS.LNX64.ROCKY.0810.B050"
SERVER_PRODUCT_CODE="SVR.VSVR.HICPU.C002.M004.NET.SSD.B050.G002"
SERVER_NAME="cli-lab-001"
LOGIN_KEY_NAME="my-login-key"
ASSOCIATE_WITH_PUBLIC_IP="true"
INIT_SCRIPT_NO=""
PROFILE=""
