access_key = "YOUR_ACCESS_KEY"
secret_key = "YOUR_SECRET_KEY"

region   = "KR"
zone_kr1 = "KR-1"
zone_kr2 = "KR-2"

my_public_ip = "YOUR_PUBLIC_IP/32"
name_prefix  = "lab7"

server_image_number = "104630229"
server_spec_code    = "s2-g3a"

db_root_password  = "ChangeRootPass123!"
board_db_password = "ChangeBoardPass123!"
