PORT=4000
DB_HOST=DB_SERVER_PRIVATE_IP
DB_PORT=3306
DB_NAME=board_service
DB_USER=board_app
DB_PASSWORD=BoardApp123!
AUTO_POST_ENABLED=false
AUTO_POST_INTERVAL_SECONDS=60
AUTO_POST_TOTAL=300
AUTO_POST_API_URL=http://127.0.0.1:4000/api/posts
LAB_STRESS_ENABLED=false
